.about {
   background-color: aquamarine;
   height: 100vh;
   width: 100%;
   padding: 0 90px;
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: space-around;

   .about--propic {
      height: 100px;
      width: 100px;
      align-self: center;
      background-color: white;
      margin-top: 90px;

   }

   &--container {
      width: 90%;
      display: flex;
      justify-content: space-around;

      &--content {
         width: 500px;
         height: 300px;
         background-color: aliceblue;
         z-index: 3;
         text-align: center;
       //  margin-right: -250px;

         &:nth-of-type(2) {
            background-color: bisque;
            width: 500px;
            z-index: 2;
            margin-right: 0;
         //   margin-left: -252px;

         }
      }
   }

}

.arrow {
   position: absolute;
   top: 50%;
   z-index: 10;
   left: 90%;
}