
// HeroIndex.tsx 

.hero {
   display: flex;
   flex-direction: column;
   height: 100vh;
   width: 100%;
   padding: 30px 20px;
   align-items: center;

   &--content {
      display: flex;
      flex-direction: column;
      justify-content: center;

      height: 100%;
      
      &--text {
         text-align: center;
      }
   }
}

// Name.tsx

.name {
   display: block;
   margin: 0 auto;
   width: 88%;
   min-width: 330px;
}

.stroke-1, .stroke-2 {
   fill: none;
   stroke: #1d1d1b;
   stroke-linecap: round;
   stroke-linejoin: round;
}

.stroke-1 {
   stroke-width: 4px;
}

.stroke-2 {
   stroke-width: 3px;
}

.stroke-3 {
   fill: #1d1d1b;
}