.skills {
   height: 100vh;
   width: 100%;

   display: flex;
   flex-direction: column;
   justify-content: space-around;
   align-items: center;

   &--descr {
      margin-top: 60px;
   }

   &--container {
      width: 80%;
      height: 65%;

      display: flex;
      background-color: aquamarine;
      justify-content: space-around;

      

      .skills--github {
         width: 30%;
         height: 100%;
         background-color:white;
         border-radius: 10px;
         border: 4px solid black;
         padding: 15px;

         display: flex;
         flex-direction: column;
         justify-content: center;
         align-items: center;
         text-align: center;

      }
   }
}
