.name {
   display: block;
   margin: 0 auto;
   width: 95%;
   min-width: 330px;
   filter: drop-shadow(10px 10px 5px #0000002a);

   margin: 0 auto;

   margin-top: 10px;
   margin-bottom: 30px;

}

.stroke-1, .stroke-2 {
   fill: none;
   stroke: #1d1d1b;
   stroke-linecap: round;
   stroke-linejoin: round;
}

.stroke-1 {
   stroke-width: 4px;
}

.stroke-2 {
   stroke-width: 3px;
}

.stroke-3 {
   fill: #1d1d1b;
}