.links {
   height: 100vh;
   width: 350px;
   margin: 0 auto;
   display: flex;
   flex-direction: column;
   justify-content: center;

   &--title {
      height: 20%;
      justify-self: flex-start;

      text-align: center;
      font-size: 1.7rem;
      font-weight: 700;
      line-height: 2.5rem;
   }

   .links--container {
      height: 30%;

      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-around;
   }
}