.skills {
   height: 100vh;
   width: 100%;

   display: flex;
   flex-direction: column;
   justify-content: space-around;
   align-items: center;

   &--descr {
      margin-top: 60px;
      z-index: 3;
   }

   &--container {
      width: 80%;
      height: 65%;
      z-index: 3;

      display: flex;
      justify-content: space-around;

   }
}
