.skills--content {
   font-family: 'Consolas';
   width: 60%;
   height: 100%;
   background-color: rgb(51, 51, 51);
   border-radius: 10px;
   color: white;
   padding: 30px 40px;

}

.skills--text {
   font-size: clamp(1.3rem, 3vw, 1.5rem);
   margin-top: 20px;

   .grey {
      color: #6A7072;
   }

   .purple {
      color: #c586c0;
   }

   .blue {
      color: #3771bf;
   }

   .yellow {
      color: #d3dc92;
   }

   .more-yellow {
      color: #e5cc06;
   }

   .element {
      color: #49b786;
   }
}